<app-top-header></app-top-header>
<app-main-header></app-main-header>
<app-breadcrumb></app-breadcrumb>
<!--<nav id="breadcrumbs" aria-label="breadcrumb" class="breadcrumb-bg-color row py-1">-->
<!--  <ol class="breadcrumb breadcrumb-bg-color col-md-auto offset-1 pl-5 my-auto" id="breadcrumb">-->
<!--    <ng-container *ngFor="let element of breadcrumbs">-->
<!--      <li *ngIf="element['currentPage']; else elseBlock"-->
<!--          class="breadcrumb-item {{element['capitalization']}}"-->
<!--          aria-current="page">-->
<!--        <a class="text-capitalize" routerLink="{{element['link']}}">{{element['element']}}</a>-->
<!--      </li>-->
<!--      <ng-template #elseBlock>-->
<!--        <li class="breadcrumb-item {{element['capitalization']}}">-->
<!--          <a class="text-capitalize" routerLink="{{element['link']}}">{{element['element']}}</a>-->
<!--        </li>-->
<!--      </ng-template>-->
<!--    </ng-container>-->
<!--  </ol>-->
<!--</nav>-->
