<div class="footer-container text-light align-items-baseline">
  <div class="row justify-content-center my-auto footer-list text-nowrap" >
    <div class="col-md-2">
      <h5 class="footer-h">AUCTION</h5>
      <a>About Us</a>
      <br>
      <a>Terms and Conditions</a>
      <br/>
      <a>Privacy and Policy</a>
    </div>
    <div class="col-md-2 mr-4">
      <h5 class="footer-h">GET IN TOUCH</h5>
      <a>Call Us at &nbsp; &nbsp; +123 797-567-2535</a>
      <br>
      <a>support@auction.com</a>
      <br/>
      <div>
        <a href="https://facebook.com" class="navbar-brand"><img src="../../assets/svg/facebook.svg" height="25px" width="25px" alt="Facebook"/></a>
        <a href="https://twitter.com" class="navbar-brand"><img src="../../assets/svg/twitter.svg" height="25px" width="25px" alt="Twitter"/></a>
        <a href="https://instagram.com" class="navbar-brand"><img src="../../assets/svg/instagram.svg" height="25px" width="25px" alt="Instagram"/></a>
        <a href="https://google.com" class="navbar-brand"><img src="../../assets/svg/google-plus.svg" height="25px" width="25px" alt="google+"/></a>
      </div>
    </div>
    <div class="col-md-3 ml-5">
      <h5 class="footer-h">NEWSLETTER</h5>
      <a>Enter your email address and get notified</a>
      <br>
      <a> about new products. We hate spam!</a>
      <div class="kutija justify-content-center mt-2">
        <input type="email" placeholder="Your Email Address" class="rounded-0 border-0 p-3 align-middle"/>
        <input type="button" value="GO >" class="rounded-0 p-2 align-middle"/>
      </div>
    </div>
  </div>
</div>
