.footer-container {
  background-color: #2a2a2a;
  width: 100%;
  margin: 0;
  height: 356px;
  position: relative;
}

.footer-list {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-h {
  color: #919191;
}


input[type="email"] {
  width: 275px;
  height: 54px;
  margin-right: 7px;
  background-color: #3d3d3d;
  color: #FFFFFF ;/*#626262;*/
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
}

input[type="button"] {
  width: 116px;
  height: 54px;
  background-color: #2a2a2a;
  color: #d7d7d7;
  border: 2px solid #7e6ed3;
}

.bottom-padding-100 {
  padding-bottom: 100px;
}
