@import "src/sass/variables";

.dark-background {
  background: $background-dark;
}

.icon {
  &__25 {
    height: 25px;
    width: 25px;
  }
  &__30 {
    height: 30px;
    width: 30px;
  }
  &__35 {
    height: 35px;
    width: 35px;
  }
}
