@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');

* {
  font-family: 'Lato', sans-serif;
}

.fa {
  font-family: 'FontAwesome',sans-serif;
}

.left_border_gray {
  border-left: 1px solid $gray-dark;
}

.right_border_gray {
  border-right: 1px solid $gray-dark;
}

.top_border_gray {
  border-top: 1px solid $gray-dark;
}

.purple-text {
  color: $purple;
}

.regular-text {
  color: $background-dark;
}

.bold {
  font-weight: bold;
}

.background-dark {
  background: $background-dark;
}

.background-gray-light {
  background: $gray-light;
}

.background-gray-dark {
  background: $gray-dark;
}

.background-purple {
  background: $purple;
}

.the-button {
  background-color: transparent;
  border: 3px solid $purple;
  font-weight: bold;
  box-shadow: 2px 2px #9e9e9e;
}

.transparent {
  color: transparent;
  background: transparent;
  border-color: transparent;
}


.lato-light {
  font-family: 'Lato', serif;
  font-weight: 300;
}

.lato-regular {
  font-family: 'Lato', serif;
  font-weight: 400;
}

.lato-bold {
  font-family: 'Lato', serif;
  font-weight: 700;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
