#subcategories {
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #9e9e9e;
}

#category-name {
  width: 100%;
  font-size: 14px;
  /*cursor: pointer;*/
}


.cursor-pointer {
  cursor: pointer;
}

.category-element:hover {
  background-color: rgba(166, 163, 165, 0.46);
}

.subcategory-element:hover {
  background-color: rgba(166, 163, 165, 0.46);
  color: #2a2a2a;
}
