#shop-item-img{
  min-width: 265px;
  min-height: 350px;
  max-width: 265px;
  max-height: 350px;
  object-fit: cover;
}

#shop-item-header{
  margin-top: 11px;
}

#shop-item-paragraph{
  margin-top: 7px;
}
