@import "src/sass/styles";
@import "bootstrap";

.item{
  @extend .p-0, .m-0, .h-100, .w-100;
  &__div75 {
    @extend .row !optional;
    @extend .h-75, .w-100, .background-gray-dark, .row, .mx-0;
    overflow: hidden;
    &__pdiv {
      @extend .my-auto, .col, .mx-0, .px-0;
      height: auto;
      &__img {
        max-width: 100%;
        max-height: 100%;
      }
      &__img:hover {
        cursor: pointer;
      }
    }
  }
  &__div25 {
    @extend .h-25, .w-100;
    position: relative;
    &__bottom {
      position: absolute;
      bottom: 0;
      &__title {
        @extend .lato-bold;
        font-size: 24px;
      }
      &__start {
        @extend .lato-regular;
        font-size: 16px;
      }
    }
  }
}
