<div class="p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="col-auto px-0">
        <img class="product-picture"
             src="{{currentPicture?currentPicture:''}}"
             alt="Picture"
        />
        <div class="row mx-0 mt-2 justify-content-between picture-list">
          <div *ngFor="let picture of getPictures()" class="mx-0">
            <img class="product-small-picture px-0"
                 src="{{picture}}"
                 alt="Picture"
                 (click)="setCurrentPicture($event)"
            />
          </div>
        </div>
      </div>
      <div class="col mx-0 pl-5 pt-3">
        <h1 class="lato-bold name">{{getName()}}</h1>
        <h3 class="price lato-bold">Start from - ${{getStartPrice()}}</h3>
        <app-spacer></app-spacer>
        <div class="justify-content-center mt-2">
          <input type="number" step="0.01" class="rounded-0 border-0 p-3 align-middle bid-input mr-4"/>
          <input type="button" value="PLACE BID >" class="rounded-0 p-2 align-middle bid-button"/>
        </div>
        <p class="pale">Enter {{getHighestBid()}} or more</p>
        <app-spacer></app-spacer>
        <p class="pale font14">
          Highest bid: <span class="lato-regular purple-text">{{'$'+getHighestBid()}}</span><br>
          No bids: {{getNumberOfBids()}} <br>
          Time left: {{getTimeLeft()}}
        </p>
        <app-spacer></app-spacer>
        <input type="button" class="watch_button bg-transparent px-4" value="Watchlist">
        <h3 class="mt-2 pl-2">Details</h3>
        <hr class="w-100 background-gray-dark" style="height: 4px"/>
        <p class="pl-2">{{getDescription()}}</p>
      </div>
    </div>
  </div>
</div>
