@import "styles";
.product-picture {
  width: 470px;
  height: 470px;
}

.font14 {
  font-size: 16px;
}

.product-small-picture {
  height: 110px;
  width: 110px;
}

.watch_button {
  padding: 5px;
  border: 3px solid $gray-dark;
}

.name {
  font-size: 35px;
}

.price {
  color: #8d7fd8;
  font-size: 26px;
}

.bid-input {
  background-color: #ebebeb;
  height: 54px;
}

.bid-button {
  height: 54px;
  width: 192px;
  background-color: transparent;
  border: 3px solid #7e6ed3;
  font-weight: bold;
}

.pale {
  color: #9d9d9d;
}

.picture-list {
  width: 470px;
}

.picture-list div {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 8px;
  margin-right: 7px;
}
