<div class="p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="col-auto px-0">
        <img class="product-picture"
             src="{{currentPicture?currentPicture:''}}"
             alt="Picture"
        />
        <div class="row mx-0 mt-2 justify-content-between picture-list">
          <div *ngFor="let picture of getPictures()" class="mx-0">
            <img class="product-small-picture px-0"
                 src="{{picture}}"
                 alt="Picture"
                 (click)="setCurrentPicture($event)"
            />
          </div>
        </div>
      </div>
      <div class="col mx-0 pl-5 pt-3">
        <h1 class="lato-bold name">{{getName()}}</h1>
        <h3 class="price lato-bold">Start from - ${{getStartPrice()}}</h3>
        <app-spacer></app-spacer>
        <div class="justify-content-center mt-2">
          <input type="number" step="1" id="bidField" class="rounded-0 border-0 p-3 align-middle bid-input mr-4"/>
          <input type="button" value="PLACE BID >" (click)="placeBid()" class="rounded-0 p-2 align-middle bid-button"/>
        </div>
        <p class="pale">Enter {{getHighestBid()}} or more</p>
        <app-spacer></app-spacer>
        <p class="pale font14">
          Highest bid: <span class="lato-regular purple-text">{{'$'+getHighestBid()}}</span><br>
          No bids: {{getNumberOfBids()}} <br>
          Time left: {{getTimeLeft()}}
        </p>
        <app-spacer></app-spacer>
        <input type="button" class="watch_button bg-transparent px-4" value="Watchlist">
        <h3 class="mt-2 pl-2">Details</h3>
        <hr class="w-100 background-gray-dark" style="height: 4px"/>
        <p class="pl-2">{{getDescription()}}</p>
      </div>
    </div>
    <app-spacer></app-spacer>
    <div class="row">
      <table *ngIf="product!=null && product.bids!=null && product.bids.length!=0"
             mat-table [dataSource]="this.product.bids" class="mat-elevation-z0 col-sm-12">

        <ng-container matColumnDef="bidder">
          <th mat-header-cell class="left_border_gray top_border_gray table-header"
              *matHeaderCellDef> Bidder </th>
          <td mat-cell class="left_border_gray" *matCellDef="let bid">
            <div class="p0 m0 d-inline">
              <img class="profile-img" src="{{bid.url
              ||
              'https://iconsetc.com/icons-watermarks/simple-ios-blue-gradient/' +
               'bfa/bfa_user/bfa_user_simple-ios-blue-gradient_512x512.png'}}" alt=""/>
            </div>
            {{bid.name}}
          </td>
<!--          <td mat-footer-cell *matFooterCellDef> Total </td>-->
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell class="top_border_gray table-header" *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let bid"> {{getBidDateFromBid(bid)}} </td>
<!--          <td mat-footer-cell *matFooterCellDef> {{}} </td>-->
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell class="right_border_gray top_border_gray table-header" *matHeaderCellDef> Bid </th>
          <td mat-cell class="right_border_gray" *matCellDef="let bid"> ${{bid.amount}} </td>
          <!--          <td mat-footer-cell *matFooterCellDef> {{}} </td>-->
        </ng-container>

        <tr class="background-gray-dark" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<!--        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>-->
      </table>
    </div>
  </div>
</div>
