<div class="p-0 m-0  background-gray-light">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xs my-auto text-uppercase">
        <span>{{lastCrumb.label}}</span>
      </div>
      <div class="col-xs">
        <ol class="breadcrumb mb-0 bg-transparent px-0 text-uppercase regular-text">
          <li *ngFor="let element of breadcrumbs; let isLast=last" >
            <span class="{{isLast ? 'lato-regular' : 'lato-light'}}"
                  [routerLink]="element.url"
                  routerLinkActive="router-link-active">
              {{ element.label }}{{isLast ? '' : ' /&nbsp;'}}
            </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
