<div class="p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="col-3 px-0 pr-3">
        <app-category-list></app-category-list>
      </div>
      <div class="col-9 px-0">
        <app-shop-list></app-shop-list>
      </div>
<!--      <mat-grid-list cols="3" rowHeight="350px" gutterSize="20px" class="col-9">-->
<!--        <mat-grid-tile colspan="1" rowspan="1" >-->
<!--          <div class="item">-->
<!--            <div class="item__div75">-->
<!--              <div class="item__div75__pdiv">-->
<!--                <img class="item__div75__pdiv__img"-->
<!--                     src="https://material.angular.io/assets/img/examples/shiba2.jpg"-->
<!--                     alt=""/>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item__div25">-->
<!--              <div class="item__div25__bottom">-->
<!--                <p class="item__div25__bottom__title">Shiba</p>-->
<!--                <p class="item__div25__bottom__start">Start from $500</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="1" rowspan="1" >-->
<!--          <div class="item">-->
<!--            <div class="item__div75">-->
<!--              <div class="item__div75__pdiv">-->
<!--                <img class="item__div75__pdiv__img"-->
<!--                     src="https://i.ebayimg.com/images/g/HtkAAOSwYpxeBank/s-l1600.jpg"-->
<!--                     alt=""/>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item__div25">-->
<!--              <div class="item__div25__bottom">-->
<!--                <p class="item__div25__bottom__title">Sleeve top</p>-->
<!--                <p class="item__div25__bottom__start">Start from $40</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->
<!--      </mat-grid-list>-->
    </div>
  </div>
</div>
<!--<div class="row col-10 justify-content-center mx-auto my-5">-->
<!--  <div class="col-auto px-1">-->
<!--    <app-category-list>-->
<!--    </app-category-list>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <app-shop-list></app-shop-list>-->
<!--  </div>-->
<!--</div>-->
