<app-showcase [categories]="categories" [showcaseProduct]="showcaseProduct"></app-showcase>
<app-spacer></app-spacer>
<div class="p-0 m-0">
  <div class="container">
    <div class="row">
      <h3>Feature collection</h3>
    </div>
    <div class="row">
      <hr class="hruler w-100 ">
    </div>
    <div class="row justify-content-between">
      <div *ngFor="let product of featureCollections" class="feature-collection-item col-auto px-0">
        <app-feature-item [product]="product"></app-feature-item>
      </div>
    </div>
  </div>
</div>
<app-spacer></app-spacer>
<div class="p-0 m-0">
  <div class="container">
    <div class="row">
      <h3>Feature products</h3>
    </div>
    <div class="row">
      <hr class="hruler w-100 ">
    </div>
    <div class="row justify-content-between">
      <div *ngFor="let product of featureProducts" class="feature-product-item col-auto px-0">
        <app-feature-product [product]="product"></app-feature-product>
      </div>
    </div>
  </div>
</div>
<app-spacer></app-spacer>
