<div class="h-100">
  <div class="row h-100">
    <div class="col-6 my-auto showcase-info">
      <h1 id="name">{{name}}</h1>
      <h2 id="start-price">Start from {{startPrice}}$</h2>
      <p id="description">{{description}}</p>
      <input type="button" value="BID NOW >" class="rounded-0 p-2 align-middle bid-button"/>
    </div>
    <div class="col-6 my-auto text-right px-0 pr-4 h-100">
      <img class="showcase-img w-100 " src="http://localhost:8080/image/nike_react.jpg" alt="Product picture"/>
    </div>
  </div>
</div>
