<div class="justify-content-center mx-auto my-5">
  <div class="home-showcase">

  </div>
  <app-spacer></app-spacer>
  <div class="feature-container mx-auto">
    <h3>Feature collection</h3>
    <hr class="hruler w-100 ">
    <div class="row justify-content-between feature-collection-list mx-0">
      <div class="feature-collection-item col-auto px-0"></div>
      <div class="feature-collection-item col-auto px-0"></div>
      <div class="feature-collection-item col-auto px-0"></div>
    </div>

  </div>
  <app-spacer></app-spacer>
  <div class="feature-container mx-auto">
    <h3>Feature products</h3>
    <hr class="hruler w-100 ">
    <div class="row justify-content-between feature-list mx-0">
      <div class="feature-product-item col-auto px-0"></div>
      <div class="feature-product-item col-auto px-0"></div>
      <div class="feature-product-item col-auto px-0"></div>
      <div class="feature-product-item col-auto px-0"></div>
    </div>

  </div>

</div>
